/**
* style.css
*
* 1.Columns columns
  ● Create a page with
  ○ Header, footer, sidebar, and two main columns
  ○ Use position, float and margins to create the layout
  ● Header and footer
  ○ Should stay in place when the page scrolls
  ● The sidebar and two columns
  ○ Should fill the rest of the page, vertically and horizontally
  ○ Should expand proportionally when window is resized
  ● One of the columns should contain
  ○ An image and a caption placed on top of the image
  ● Use semantic HTML5 elements
  ● Fill the page with meaningful content
*/

/* GLOBAL STYLE */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 15px;
}

body {
  font-family: "Inter", sans-serif;
  word-wrap: break-word;
}

/* HEADER STYLE */
header {
  max-width: 100%;
  background-color: #151515;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  color: #a91d3a;
}

main {
  font-size: inherit;
}

/* SIDEBAR STYLE */
aside {
  padding: 53px 10px;
  margin: 0;
  width: 16%;
  height: auto;
  border: 1px dotted black;
  float: left;
  background-color: #a91d3a;
}

aside h3 {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #eeeeee;
  padding-bottom: 50px;
}

aside figure figcaption {
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: #eeeeee;
}

aside figure img {
  max-width: 100%;
  height: auto;
  padding: 0;
}

aside hr {
  margin: 50px 0;
  border: 1px solid #eeeeee;
}

/* COLUMN STYLE */
section {
  width: calc(84% / 2);
  border: 1px dotted black;
  float: left;
  padding: 60px;
  text-align: left;
  background-color: #eeeeee;
  color: #151515;
}

h2 {
  font-size: 2.5rem;
  text-align: left;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
  color: #151515;
}

section h3 {
  width: 100%;
  text-align: left;
  margin: 100px 0 40px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #151515;
}

section ul li {
  margin: 30px 0;
}

strong {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #151515;
}

section figure {
  width: 100%;
  margin: 100px auto;
  position: relative;
}

section figure figcaption {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 1rem;
  padding: 5px;
  background: #151515;
  color: white;
}

section figure img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* FOOTER STYLE */
footer {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 0.6rem;
  border: 1px dotted #151515;
  background-color: #151515;
  clear: both;
  color: #eeeeee;
  position: sticky;
  bottom: 0;
}

footer p {
  margin: 8px;
}