/**
* style.css
* 
* 
*/

/* GLOBAL STYLE */
html {
    box-sizing: border-box;
    font-size: 20px;
    --color-text: #000000;
    --color-body: #fffffff;
    --color-header-one: #3AAB58;
    --color-header-two: #FFFFFF;
    --color-shadow: #3AAB58;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--color-body);
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, var(--color-header-one), var(--color-header-two));
}

h1 {
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    color: var(--color-text);
}

main {
    margin: 20px;
}

main p {
    color: var(--color-text);
    transition: 0.5s;
}

main p:hover {
    text-shadow: 0 0 10px var(--color-shadow);
}