/**
* style.css
* 
* 
*/

/* GLOBAL STYLE */
html {
  box-sizing: border-box;
  font-size: 20px;
  --color-nav: #4527a0;
  --color-body: #fbc02d;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--color-body);
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  background-color: var(--color-nav);
  width: 100%;
  font-size: 0;
}

nav {
  margin: 0 20px;
}

#top-nav ul {
  float: right;
}

#top-nav ul li {
  display: inline-block;
}

#top-nav ul li a {
  display: block;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  padding: 30px 25px;
}

#top-nav ul li a:hover {
  box-shadow: 0 -5px 0px #fff inset,
    500px 0 0 rgba(255, 255, 255, 0.03) inset;
}

.logo {
  float: left;
  font-size: 2rem;
  color: #fff;
  padding: 20px 0;
}

#menu-icon {
  display: none;
}

#menu {
  display: none;
}



/* MEDIA QUERIES */
@media (max-width: 1100px) {



  #top-nav ul li {
    display: none;
  }

  #menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #fff;
    cursor: pointer;
  }

  #menu {
    display: block;
    position: absolute;
    right: 17px;
    top: 12px;
    height: 50px;
    width: 50px;
    opacity: 0;
  }

  #colum-nav {
    display: none;
    float: right;
    position: absolute;
    top: 78px;
    background-color: var(--color-nav);
    right: 0;
  }

  #menu:checked~#colum-nav {
    display: block;

  }

  #colum-nav ul li a {
    display: block;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    text-align: center;
  }

  #colum-nav ul li a:hover {
    box-shadow: 0 -5px 0px #fff inset,
      500px 0 0 rgba(255, 255, 255, 0.03) inset;
  }
}