/*
* style.css
*
*/

/* Set box-sizing rules and custom proprieties*/
html {
    box-sizing: border-box;
    --bgc-color: #2F4858;
    --text-items-color: #2F4858;
    --text-color: #F26419;
    --bgc-items-color: #86BBD8;
    --bgc-container: #F6AE2D;
    font-size: 20px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--bgc-items-color);
}

h1 {
    font-size: 3rem;
    color: var(--text-color);
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
}

/* Example of propriety by flex-direction */
h2 {
    font-size: 2.3rem;
    color: var(--text-color);
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 30px;
}

span {
    font-weight: bold;
}


.items {
    width: 60px;
    height: 60px;
    background-color: var(--bgc-items-color);
    border-radius: 5px;
    text-align: center;
    /* FIXME */
    line-height: 58px;
    margin: 10px;
}

.container {
    background-color: var(--bgc-container);
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.flex-container {
    width: 1000px;
    background-color: var(--bgc-color);
    color: var(--text-items-color);
    padding: 50px;
    margin: 20px auto;
    border-radius: 20px;
}

/* Example of css flex-direction */
#example-row {
    display: flex;
    flex-direction: row;
}

#example-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

#example-column {
    display: flex;
    flex-direction: column;
}

#example-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

/* Example of css flex-wrap */
#example-wrap {
    display: flex;
    flex-wrap: wrap;
}

#example-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

#example-wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* Example of css flex-wrap */
#example-flow-first {
    display: flex;
    flex-flow: row-reverse wrap;
}

#example-flow-second {
    display: flex;
    flex-flow: column wrap-reverse;
}

/* Example of css justify-content */
#example-flex-start {
    display: flex;
    justify-content: flex-start;
}

#example-flex-end {
    display: flex;
    justify-content: flex-end;
}

#example-flex-end {
    display: flex;
    justify-content: flex-end;
}

#example-center {
    display: flex;
    justify-content: center;
}

#example-space-between {
    display: flex;
    justify-content: space-between;
}

#example-space-around {
    display: flex;
    justify-content: space-around;
}

#example-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

/* Example of css align-items */
.align-items-container {
    height: 300px;
}

#example-align-items-flex-start {
    display: flex;
    align-items: flex-start;
}

#example-align-items-flex-end {
    display: flex;
    align-items: flex-end;
}

#example-align-items-center {
    display: flex;
    align-items: center;
}

#example-align-items-stretch {
    display: flex;
    align-items: stretch;
}

#example-align-items-baseline {
    display: flex;
    align-items: baseline;
}